.navbar{
    .container{
        .nav-container{
            .navbar-text{
                .social-icons{
                    float: right;
                    ul{
                        li{
                            display: inline;
                        }
                    }
                }
            }
            #navbarNavDropdown{

            }
        }
    }
}
@media (max-width: 768px){
    .navbar{
        .container{
            .nav-container{
                .navbar-text{
                    .social-icons{
                        display: none;
                    }
                }
                #navbarNavDropdown{
    
                }
            }
        }
    }
}